.footer {
  padding-bottom: 109px;
  text-align: center;
}

.footer-wapper {
  padding-top: 47px;
  padding-bottom: 70px;
  max-width: 1170px;
  background: linear-gradient(270deg, #a5deff 0%, #fcfeff 100%);
}

.footer__trezub {
  margin-bottom: 33px;
}

.footer__title {
  margin-bottom: 21px;

  font-size: 48px;
  font-weight: 600;
  line-height: 2;

   @media screen and (max-width: $tablet) {
   font-size: 20px;
  }
}

.footer__text {
  margin: 0 auto;
  max-width: 788px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}
