.hero {
  padding-bottom: 59px;
  background: linear-gradient(270deg, #a5deff 0%, #fcfeff 100%);
}

.hero-wapper {
  display: flex;
  flex-wrap: wrap;
}

.hero-content {
  align-self: start;
  max-width: 573px;

  background: #fff;
  padding: 60px;
  border-radius: 40px;

  @media screen and (max-width: $tablet) {
    padding: 10px;
  }
}

.hero-content__subtitle {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5;

  font-style: italic;
  margin-bottom: 60px;

  @media screen and (max-width: $tablet) {
    margin-bottom: 30px;
  }
}

.hero-content__title {
  font-size: 64px;
  font-weight: 700;
  line-height: 1.12;

  // font-style: italic;
  font-style: oblique;
  margin-bottom: 35px;

  @media screen and (max-width: $tablet) {
    font-size: 40px;
  }
}

.hero-content__text {
  max-width: 401px;
  margin-bottom: 51px;

  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;

  @media screen and (max-width: $tablet) {
    margin-bottom: 21px;
  }
}

.hero-content__btn {
  border-radius: 8px;
  color: #fff;
  background: #ff6b0a;

  padding: 14px 25px;
  border: none;
  cursor: pointer;

  @media screen and (max-width: $tablet) {
    display: block;
    margin: 0 auto;
  }
}

.hero-content__btn:hover,
.hero-content__btn:focus {
  background: #a5deff;
}

.hero-image {
  @media screen and (min-width: $desktop) {
    position: absolute;
    top: 0;
    right: 10.5%;
  }
}

.hero-image svg {
  width: 670px;
  height: 720px;

  @media screen and (max-width: $tablet) {
    width: 100%;
  }
}
